{% extends 'main.html' %}
{% load static %}
{% block content%}


<div class="ScanContainer">

  <!-- Pills content -->
  <div class="tab-content">
    <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
      <form action="{% url 'ScanningPage' %}" method="post">
        {% csrf_token %}

        <div class="form-outline mb-4">
          <label class="form-label" for="scanDomain">Domain</label>
          <input type="text" id="scanDomain"  name="scanDomain" class="form-control" placeholder="Enter website Domain or IP Address" required="true"   />
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="yes" name="versionScan" id="versionScan">
          <label class="form-check-label" >Version Scan
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="yes" name="osScan" id="osScan">
          <label class="form-check-label" >OS Detection
          </label>
        </div>
        <br>

        <!-- Submit button -->

        <button type="submit" class=" btn btn-success btn-block mb-4 " name="submitButton" id="submitButton" onclick="load()">
          Scan
        </button>

        <!-- Loading Button        -->
        <button type="button" disabled="true" class=" btn btn-success btn-block mb-4" id="loadingButton">
        <div class="spinner-border text-light spinner-border-sm" role="status">
        </div>
          Scanning
        </button>

      </form>
    </div>
  </div>
</div>
<!-- Pills content -->
</div>
<script type="text/javascript">
        document.getElementById("loadingButton").style.display="none";
         function load() {
              document.getElementById("submitButton").style.display="none";
              document.getElementById("loadingButton").style.display="inline";
         }
</script>
{% endblock %}