{% extends 'main.html' %}
{% load static %}
{% block content%}

<div class="FeedbackContainer">

  <!-- Pills content -->
  <div class="tab-content">
    <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
      <form method="POST" action="{% url 'FeedbackPage' %}">
        {% csrf_token %}

        <!-- Email input -->
        <div class="form-outline mb-4">
          <input type="email" id="loginName" class="form-control" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" title="Enter correct email"/>
          <label class="form-label" for="loginName">Email or username</label>
        </div>

        <!-- Feedback input -->
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label"  >Example textarea</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="user_feedback" required="true" title="Enter feedback"></textarea>
        </div>

        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4">Submit</button>

      </form>
    </div>
  </div>
</div>
<!-- Pills content -->
</div>
{% endblock %}