.LoginContainer {
  background-color: black !important;
  color: white;
  width: 40%;
  height: auto;
  padding: 30px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin-top: 30px;
  border-radius: 15px;

}
.RegisterContainer{
    background-color: black !important;
    color: white;
    width: 40%;
    height: auto;
    padding: 30px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-top: 80px;
    border-radius: 15px;
    
}
.FeedbackContainer{
  background-color: black !important;
  color: white;
  width: 75%;
  height: auto;
  padding: 30px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin-top: 50px;
  border-radius: 15px;
  
}
@media only screen and (max-width: 868px) {
    /* For mobile phones: */
    .LoginContainer {
      margin-top: 40px;
      z-index: -1;
    }
    .RegisterContainer{
        margin-top : 100px;
        height: auto;
        z-index: -1;
    }
    .FeedbackContainer{
      height: auto;
      z-index: -1;
    }
  }