<footer class="footer1">
    <div class="container-fluid">
        <div class="row ">
            <div class="col-lg-6 col-md-12 col-12 px-5 mb-3">
                <h3 class="tm-text-primary mb-4 tm-footer-title mt-3">About Hack-Tools.com website</h3>
                <p>This website provides information security tools Like :
                    <ol start="1">
                        <li> Port Scanning</li>
                        <li> Firewall Detection </li>
                        <li> Ping It </li>
                    </ol>
                </p>
                <p>This website runs on <a href="https://www.kali.org" target="_blank">Kali Linux</a></p>
                
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-12 px-5 mb-5 linksDiv">
            
                <h3 class="tm-text-primary mb-4 tm-footer-title mt-3">Our Links</h3>
                <ul class="">
                    <li class=""><a href="https://twitter.com/cyberjaygoswami" target="__blank" style="text-decoration: none;"><i class="bi bi-twitter"></i> Twitter</a></li>
                    <li class=""><a href="https://instagram.com/cyber.jaygoswami" target="__blank" style="text-decoration: none;"><i class="bi bi-instagram"></i> Instagram</a></li>
                    <li class=""><a href="https://github.com/jay-goswami" target="__blank" style="text-decoration: none;"><i class="bi bi-github"></i> Github</a></li>
                    <li class=""><a href="https://wa.me/+919978526703" target="__blank" style="text-decoration: none;"><i class="bi bi-whatsapp"></i> Whatsapp</a></li>
                   
                </ul>
            </div>
            
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-7 col-12 px-5 mb-3">
                Copyright 2022 Open-Source. All rights are Open-Source :) 
                Lookup code in <a href="https://github.com/jay-goswami/InfoSec-Documentation" target="__blank"><i class="bi bi-github"></i></a>
            </div>
            <div class="col-lg-4 col-md-5 col-12 px-5 text-right">
                Designed by <a href="https://github.com/jay-goswami" class="tm-text-gray" rel="sponsored" target="__blank">Jay Goswami</a>
            </div>
        </div>
    </div>
</footer>

